
{% extends 'base.html' %}

{% block content %}

<section class="section bg-primary">
    <div class="text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 mx-auto">
                    {% if searched %}
                    <h1 class="pt-5 text-white">Search Result for {{searched}}</h1>
                    {% else %}
                    <h1 class=" pt-5 text-white">No Result </h1>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-sm">
    <div class="container">
        <div class="row mt-0">
            <div class="col-lg-3 col-md-4">
                <!-- category sidebar -->
				{% include 'category/snippets/category_sidebar_snippets.html' %}
				<!-- end category sidebar -->
            </div>
            <div class="col-lg-9 col-md-8">
                <div class="product-grid-list">
                    <div class="row">
                        {% if searched %}
                        {% include 'category/snippets/scholarship_list_snippets.html' %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
