{% extends 'profile_base.html' %}
{% block title %} Edit Profile {% endblock %}
{% block content %}

<section class="section">
  <div class="container mt-5 h-100">
    <div class="row d-flex justify-content-center text-primary align-items-center h-100">
      <div class="col-md-12 col-xl-4">

        <div class="card" style="border-radius: 15px;">
          <div class="card-body text-center">
            <div class="mt-3 mb-4">
              <img src="{{user.profile.profile_pic.url}}" class="rounded-circle img-fluid" style="width: 100px;" />
            </div>

            <h4 class="mb-2">{{ request.user.first_name}} {{ request.user.last_name}}</h4>

            <p class="text-muted mb-4">@{{ request.user.username}} <span class="mx-2"></p>
            <form method="POST" enctype="multipart/form-data" action="{% url 'profile_edit' %}" class="mx-1 mx-md-4">
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit" class="btn btn-primary border-yellow">Save</button>
            </form>


          </div>
        </div>
      </div>

    </div>
  </div>
  </div>
</section>


{% endblock content %}