{% extends 'profile_base.html' %}
{% block title %}Edit Profile {% endblock %}
{% block content %}


<body>
    <section class="vh-100" style="background-color: #eee;">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-12 col-xl-4">
      
              <div class="card" style="border-radius: 15px;">
                <div class="card-body text-center">
                  <div class="mt-3 mb-4">
                    <img src="{{user.profile.profile_pic.url}}"
                      class="rounded-circle img-fluid" style="width: 100px;" />
                  </div>
                 
                  <h4 class="mb-2">{{ request.user.first_name}} {{ request.user.last_name}}</h4>
                
                  <p class="text-muted mb-4">@{{ request.user.username}} <span class="mx-2"></p>                    
                    <form method="POST" enctype="multipart/form-data" action="{% url 'profile_edit' %}" class="mx-1 mx-md-4">
                      {% csrf_token %}
                      {{form.as_p }}
                        <div class="form-group">
                          <!-- <h6 for="exampleInputPassword1">Change Profile </h6> -->
                          <input type="file" class="form-control-file" id="">
                        </div>
                      <br>
                      <div class="form-group text-primary">
                            <label style="float: left" for="exampleInputPassword1">Add bio</label>
                            <input type="text" class="form-control" id="" name="bio" placeholder="Tell us about yourself..">
                        </div>
                        
                        <button type="submit" class="btn btn-primary">Save</button>
                      </form>
                    
                  
                  </div>
                </div>
              </div>
      
            </div>
          </div>
        </div>
      </section>
  </body>


{% endblock content %}

