{% extends 'base.html' %}
{% block content %}
{% include 'category/snippets/tag_snippets.html' %}
<section class="section-sm">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-4">
				<!-- category sidebar -->
				{% include 'category/snippets/category_sidebar_snippets.html' %}
				<!-- end category sidebar -->
			</div>
			<div class="col-lg-9 col-md-8">
				<div class="product-grid-list">
					<div class="row">
						{% include 'category/snippets/scholarship_list_snippets.html' %}
					</div>
				</div>
				<div class="pagination justify-content-center">
					<nav aria-label="Page navigation example">
						<ul class="pagination">
							{% if scholarships_lists.has_previous %}
							<li class="page-item"><a class="page-link" href="?page=1">&laquo 1</a></li>
							<li class="page-item"><a class="page-link"
									href="?page={{scholarships_lists.previous_page_number}}"><strong>
										< </strong></a></li>
							{% endif %}
							<li class="page-item active"><a class="page-link"
									href="?page={{scholarships_lists.paginator.num_pages}}">{{scholarships_lists.number}}
								</a></li>
							{% if scholarships_lists.has_next %}
							<li class="page-item"><a class="page-link"
									href="?page={{scholarships_lists.next_page_number}}"><strong>
										> </strong></a></li>
							<li class="page-item"><a class="page-link"
									href="?page={{scholarships_lists.paginator.num_pages}}">{{scholarships_lists.paginator.num_pages}}
									&raquo</a></li>
							{% endif %}
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock content %}