{% for comment in comments %}
<a href="#!" class="h4 d-inline-block mb-3">{{ comment.user.username }}</a>
<p class="text-primary">{{ comment.content }}</p>

<span class="text-black mr-3 font-weight-600">{{ comment.created_on }}</span>
<p class="text-primary">Reply</p>
    {% for reply in comment.replies %}
    <a href="#!" class="h4 d-inline-block mb-3">{{ reply.user.username }}</a>
    <p class="text-primary">{{ reply.content }}</p>
    <span class="text-black mr-3 font-weight-600">{{ reply.created_on }}</span>
    {% endfor %}
<div>
    {% if comment %}
    <form method="post" action="{% url 'create_reply' comment.id %}">
        {% csrf_token %}
        {{ reply_form }}
        <!-- <input type="hidden" name="reply-form" value="{{ comment.id }}"> -->
        <button type="submit">Submit Reply</button>
    </form>
    {% endif %}
</div>
{% endfor %}

<form method="post" action="{% url 'scholarship_detail' slug=object.slug %}">
    {% csrf_token %}
    <input type="hidden" name="comment-form" value="1">
    {{ comment_form.as_p }}
    <button type="submit">Submit Comment</button>
</form>