{% extends 'base.html' %}
{% block content %}
<div class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-9 shadow pb-5 px-5 bg-white">
        <!-- SCHOLARSHIP DETAIL -->
        <div class="mt-5 mb-5 tag-detail">
          <span class="text-primary"> {{object.deadline}} <span class="mx-2">/</span> </span>
          <p class="list-inline-item ">
            <span class="text-primary "><strong>Category </strong>:</span>
            <a href="{% url 'scholarship' %}" class="ml-1">Scholarship</a>
          </p>
          <p class="list-inline-item">
            <span class="text-primary "><strong>Tag </strong>:</span>
            <a href="{{ object.more_info }}" class="ml-1"> More Info</a> ,
            <a href="{{ object.link_web }}" class="ml-1 tag underline-doted"> Visit </a>,
            <a href="{% url 'scholarship' %}/tag/{{object.country}}" class="ml-1">{{object.country}}</a>
            {% if favorited.activation == 0 %}
            <a href="/add-to-favorite/{{object.slug}}" class="ml-1">Favorited</a>
            {% else %}
            <a href="/add-to-favorite/{{object.slug}}" class="ml-1">Add Favorite</a>
            {% endif %}



          </p>


          <h2 class="mb-4" style="line-height:1.5">{{object.school}}</h2>
        </div>

        <div class="content">
          <h5 id="level">Level</h5>
          <ul>
            <li class="text-primary">{{object.level}}</li>
          </ul>


          <h5 id="country">Country</h5>
          <ul>
            <li class="text-primary">{{object.country}}</li>
          </ul>




          {% if object.deadline == None and object.description == null %}
          <h5 id="deadline">Deadline & Description</h5>
          <ul>
            <li class="text-primary">Visit official website for details</li>
          </ul>


          {% elif object.deadline != None and object.description == null %}
          <h5 id="paragraph">Deadline</h5>
          <ul>
            <li class="text-primary">{{object.deadline}}</li>
          </ul>
          <h5 id="paragraph">Description</h5>
          <p>Visit official website for details</p>


          {% else %}
          <h5 id="deadline">Deadline</h5>
          <ul>
            <li class="text-primary">Visit official website for details</li>
          </ul>
          <h5 id="paragraph">Description</h5>
          <p class="text-primary">{{object.description}}</p>
          {% endif %}


          <h5 id="link">Official Scholarship Website</h5>
          <p><a href="{{object.link_web}}">{{object.link_web}}</a>


            <!-- DISCLAIMER -->
          <div class="notices info">
            <p class="text-primary">This is NOT the official scholarship page. This is only a one-page summarized
              listing of the scholarship. While we endeavor to keep the information up to date and correct, information
              may change at any time without notice. For complete and updated information, please always refer to the
              official website of the scholarship provider. Any reliance you place on information from Capply.com is
              strictly at your own risk. Please read our Terms of Use for more information.</p>
          </div>


          <hr>


        </div>
        <!-- END OF SCHOLARSHIP DETAIL -->



        <!-- COMMENT -->
        <div class="col-md-12">
          <div class=" mb-5 mt-4 pt-5">
            <h3 class="mb-4">Comments</h3>
            {% for comment in comments %}
            <div class="comment">
              <div class="border  ">
                <a href="#!" class="h5 bold mb-3">@{{ comment.user.username }}</a>
                <p class="ms-5 text-primary">{{ comment.content }}</p>
                <small class="text-secondary ms-5 font-weight-200">{{ comment.created_on }}</small>
                <a href="{% url 'delete_comment' object.slug %}" >Delete</a>
              </div>
              <!-- REPLY -->
              <div class="m-5 ">
                <p class="text-primary h4 mb-3">Reply</p>
                {% for reply in comment.replies %}
                <div class="border  ">
                  <a href="#!" class="h5 bold mb-3">@{{ reply.user.username }}</a>
                  <p class="ms-5 text-primary">{{ reply.content }}</p>
                  <small class="text-secondary ms-5 font-weight-200">{{ reply.created_on }}</small>
                  <a href="{% url 'delete_reply' reply.comment.id %}" >Delete</a>
                </div>
                {% endfor %}
                <div>
                  {% if comment and request.user.is_authenticated %}
                  <form method="post" action="{% url 'create_reply' comment.id %}">
                    {% csrf_token %}
                    {{ reply_form }}
                    <button type="submit">Submit Reply</button>
                  </form>
                  {% endif %}
                </div>
                {% endfor %}
              </div>
              {% if request.user.is_authenticated %}
              <form method="post" action="{% url 'create_comment' slug=object.slug %}">
                {% csrf_token %}
                {{ comment_form.as_p }}
                <button type="submit">Submit Comment</button>
              </form>
              {% else %}
              <a href="{% url 'login' %}">Please login to comment & reply</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </div>
  </div>
</div>
<!-- JavaScript code -->
<script>
  $(document).ready(function () {
    // Button click event
    $('.show-replies-btn').click(function () {
      // Toggle the display of hidden content
      $('#hidden-content').toggle();
    });
  });
</script>

{% endblock content %}